<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnFailure="false"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true">

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Smoke">
            <directory>tests/Smoke</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>config</directory>
            <directory>models</directory>
        </include>
    </source>

    <php>
        <env name="APP_ENV"           value="testing"/>
        <env name="DB_HOST"           value="localhost"/>
        <env name="DB_NAME"           value="pdf_store_test"/>
        <env name="DB_USER"           value="root"/>
        <env name="DB_PASS"           value=""/>
        <env name="UPLOAD_MAX_SIZE"   value="5000000"/>
        <env name="AUTO_DELETE_HOURS" value="12"/>
        <env name="BASE_URL"          value="http://localhost/public"/>
    </php>
</phpunit>
